@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html>body, html>body .toast-ui-editor, html>body .toastui-editor-contents, html>body .ProseMirror, html>body .toastui-editor-md-mode  {
	font-family: 'Y_Spotlight';
}

/* 라이브러리 */
.table-box-type-1 > table {
	width: 100%;
}

.table-box-type-1 > table th, .table-box-type-1 > table td {
	border: 1px solid lightseagreen;
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	color: gray;
}

html[data-theme="dark"] :is(.table-box-type-1>table th, .table-box-type-1>table td) {
	border-color: white;
}

html>body .toast-ui-viewer {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

/* 커스텀 */
/* 테마 */
.btn-theme-toggle > span:first-child {
  display:none;
}

html[data-theme="dark"] .btn-theme-toggle > span:first-child {
  display:inline;
}

html[data-theme="dark"] .btn-theme-toggle > span:last-child {
  display:none;
}

body {
	min-width: 800px;
}

.Popup {
	font-size: 3rem;
}

.layer {
	display: none;
	width: 500px;
	height: 500px;
	background-color: black;
	color: white;
	border: 10px solid gold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 11;
}

.layer > h2, layer > button {
	padding: 20px;
}

.layer > button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px;
	border: 5px solid white;
	border-radius: 10px;
}

.layer-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

/* 팝업 닫기 버튼(x) */
.toggle-btn {
	width: 100px;
	height: 100px;
	bottom: 20px;
	right: 150px;
	position: absolute;
}

.toggle-btn>div {
	position: absolute;
	top: 30%;
	left: 50%;
	width: 100%;
	height: 10%;
	background-color: white;
	transition: transform .3s cubic-bezier(1, -0.96, .03, 1.35), top .3s cubic-bezier(1, .09, 0, 1.25);
	transform: translateX(-50%) translateY(-50%) rotate(0);
}

.toggle-btn>div:last-child {
	top: 70%;
	transform: translateX(-50%) translateY(-50%) rotate(0);
}

.toggle-btn.active>div {
	top: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.toggle-btn.active>div:last-child {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
/* 팝업 닫기 버튼(x) */