@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html>body {
	font-family: 'Y_Spotlight';
}

/* 라이브러리 */
.table-box-type-1 > table {
	width: 100%;
}

.table-box-type-1 > table th, .table-box-type-1 > table td {
	border: 1px solid lightseagreen;
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	color: gray;
}

.btn-text-link:hover {
	color: lightseagreen;
	text-decoration: underline;
}